/* Styles spécifiques à la page contact */

.contact-grid {
  gap: 4rem;
}

.contact-info-card {
  padding: 2rem;
}

.contact-section-title {
  font-size: 1.5rem;
}

.contact-coords {
  list-style: none;
  padding: 0;
  font-size: 1.1rem;
}

.contact-coords li {
  margin-bottom: 1rem;
}

.contact-form-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
